<section class="flex-container">
	<h2 class="secondary grow1">Consulting</h2>
	<div class="grow3">
		{% for org in consulting.organization %}
		<div>
			<div class="title-container">
				<span>{{ org.company }}, {{ org.location }}</span><span>{{ org.duration }}</span>
			</div>
		</div>
		{% endfor %}

		<ul class="details">
			<li>
				{{ consulting.description }}
			</li>
		</ul>
	</div>
</section>
