<section class="flex-container">
	<h2 class="secondary grow1">Experience</h2>
	<div class="grow3">
		{% for exp in experiences %}
		<div class="exp-container">
			<div class="title-container">
				<span>{{ exp.company }}</span><span>{{ exp.duration }}</span>
			</div>

			{% if exp.positions %}
				<div>
					{% for pos in exp.positions %}
					<div class="positions-container">
						<div class="subtitle-container">
							<div>
								{{ pos.position }}
							</div>
							<div>
								{{ pos.duration }}
							</div>
						</div>
			
						<ul class="details">
							{% for detail in pos.details %}
							<li>
								{{ detail }}
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</div>
			{% else %}
			<div>
				{{ exp.position }}
			</div>

			<ul class="details">
				{% for detail in exp.details %}
				<li>
					{{ detail }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			
		</div>
		{% endfor %}
	</div>
</section>
